@model ISIS.AssignApprovalNumberCommand
@using Microsoft.Web.Mvc;
@using ISIS.Web.Areas.Schedule.Controllers;

@{
    ViewBag.Title = "Assign Approval Number";
}
<div id="commandBar">
    @(Html.ActionLink<CourseController>(c => c.Details(Model.CourseId), "Back to Course"))
</div>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Assign Approval Number</legend>

        @Html.HiddenFor(model => model.CourseId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ApprovalNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApprovalNumber)
            @Html.ValidationMessageFor(model => model.ApprovalNumber)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}



