@model ISIS.Schedule.ChangeCourseLongTitleCommand
@using Microsoft.Web.Mvc;
@using ISIS.Web.Areas.Schedule.Controllers;
@{
    ViewBag.Title = "Change Course Long Title";
}

<div id="commandBar">
    @(Html.ActionLink<CourseController>(c => c.Details(Model.CourseId), "Back to Details"))
</div>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Change Course Long Title</legend>

        @Html.HiddenFor(model => model.CourseId)

        <div class="editor-label">
            @Html.LabelFor(model => model.NewLongTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewLongTitle)
            @Html.ValidationMessageFor(model => model.NewLongTitle)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

