@model ISIS.Schedule.CourseDetails
@using Microsoft.Web.Mvc;
@using ISIS.Web.Areas.Schedule.Controllers;
@{
    ViewBag.Title = "Course Details";
}
<div id="commandBar">
    @(Html.ActionLink<CourseController>(c => c.Activate(Model.CourseId), "Activate"))
    @(Html.ActionLink<CourseController>(c => c.Deactivate(Model.CourseId), "Deactivate"))
    @(Html.ActionLink<CourseController>(c => c.MakePending(Model.CourseId), "Make Pending"))
    @(Html.ActionLink<CourseController>(c => c.MakeObsolete(Model.CourseId), "Make Obsolete"))
    @Html.ActionLink("Back to List", "Index")
</div>

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Course Details</legend>

    <div class="display-label">@Html.LabelFor(m => m.Rubric)</div>
    <div class="display-field">@Html.DisplayFor(m => m.Rubric)</div>

    <div class="display-label">@Html.LabelFor(m => m.Number)</div>
    <div class="display-field">@Html.DisplayFor(m => m.Number)</div>

    <div class="display-label">@Html.LabelFor(m => m.Title) @(Html.ActionLink<CourseController>(c => c.ChangeTitle(Model.CourseId), "Change", new { @class="editCommand" }))</div>
    <div class="display-field">@Html.DisplayFor(m => m.Title)</div>

    <div class="display-label">@Html.LabelFor(m => m.LongTitle) @(Html.ActionLink<CourseController>(c => c.ChangeLongTitle(Model.CourseId), "Change", new { @class = "editCommand" }))</div>
    <div class="display-field">@Html.DisplayFor(m => m.LongTitle)</div>

    <div class="display-label">@Html.LabelFor(m => m.Description) @(Html.ActionLink<CourseController>(c => c.ChangeDescription(Model.CourseId), "Change", new { @class = "editCommand" }))</div>
    <div class="display-field">@(Model.Description ?? "No description set")</div>

    <div class="display-label">@Html.LabelFor(m => m.Status)</div>
    <div class="display-field">@Html.DisplayFor(m => m.Status)</div>

    <div class="display-label">@Html.LabelFor(m => m.CIP) @(Html.ActionLink<CourseController>(c => c.AssignCIP(Model.CourseId), "Change", new { @class = "editCommand" }))</div>
    <div class="display-field">@(Model.CIP ?? "Unassigned")  </div>

    <div class="display-label">@Html.LabelFor(m => m.ApprovalNumber) @(Html.ActionLink<CourseController>(c => c.AssignApprovalNumber(Model.CourseId), "Change", new { @class = "editCommand" }))</div>
    <div class="display-field">@(Model.ApprovalNumber ?? "Unassigned")  </div>

    <div class="display-label">@Html.LabelFor(m => m.CourseTypes) @(Html.ActionLink<CourseController>(c => c.ChangeCourseTypes(Model.CourseId), "Change", new { @class = "editCommand" }))</div>
    <div class="display-field">@(Model.CourseTypes ?? "None")  </div>

</fieldset>

