@model ISIS.CourseDetails
@using Microsoft.Web.Mvc;
@using ISIS.Web.Areas.Schedule.Controllers;
@{
    ViewBag.Title = "Course Details";
}
<div id="commandBar">
    @(Html.ActionLink<CourseController>(c => c.ChangeTitle(Model.CourseId), "Change Title"))
    @(Html.ActionLink<CourseController>(c => c.AssignCIP(Model.CourseId), "Set CIP"))
    @(Html.ActionLink<CourseController>(c => c.AssignApprovalNumber(Model.CourseId), "Set Approval Number"))
    @Html.ActionLink("Back to List", "Index")
</div>

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Course Details</legend>

    <div class="display-label">@Html.LabelFor(m => m.Rubric)</div>
    <div class="display-field">@Model.Rubric</div>

    <div class="display-label">@Html.LabelFor(m => m.Number)</div>
    <div class="display-field">@Model.Number</div>

    <div class="display-label">@Html.LabelFor(m => m.Title)</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">@Html.LabelFor(m => m.CIP)</div>
    <div class="display-field">@(Model.CIP ?? "Unassigned")  </div>

    <div class="display-label">@Html.LabelFor(m => m.ApprovalNumber)</div>
    <div class="display-field">@(Model.ApprovalNumber ?? "Unassigned")  </div>
</fieldset>

