@model ISIS.PageOf<ISIS.CourseList>
@using ISIS.Web.Areas.Schedule.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Courses";
}
<div id="commandBar">
    @(Html.ActionLink<CourseController>(c => c.Add(), "Create A New Course"))
</div>

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey(CourseController.Message))
{
    <div class="validation-summary-errors"><ul><li>@TempData[CourseController.Message]</li></ul></div>
}

<ul>
    @foreach (var course in Model.Results)
    {
        <li>@(Html.ActionLink<CourseController>(c => c.Details(course.CourseId), course.ToString()))</li>
    }
</ul>

@if (Model.PageCount > 1)
{
    <ul class="pageNumbers">
    @for (var i = 1; i <= Model.PageCount; i++)
    {
        <li class="pageNumber">
            @(i == Model.PageNumber ? new HtmlString(i.ToString()) : Html.ActionLink<CourseController>(c => c.Index(i), i.ToString()))
        </li>
    }
    </ul>
}